*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* estlo modo escuro e modo claro */
:root[data-bs-theme="light"] .navbar {
  transition: 0.4s ease-in;
}
:root[data-bs-theme="light"] .navbar .nav-link,
:root[data-bs-theme="light"] .navbar .navbar-brand {
  color: #222 !important;
  transition: 0.4s ease-in;
}
:root[data-bs-theme="light"] .navbar:hover .nav-link:hover,
:root[data-bs-theme="light"] .navbar:hover .navbar-brand:hover {
  color: orange !important;
  transition: 0.4s ease-in;
}

:root[data-bs-theme="dark"] .navbar {
  color: #F6F0F0 !important;
  transition: 0.4s ease-in;
}

:root[data-bs-theme="dark"] .navbar .nav-link,
:root[data-bs-theme="dark"] .navbar .navbar-brand {
  color: #fafafa !important;
  transition: 0.4s ease-in;
}
:root[data-bs-theme="dark"] .navbar:hover .nav-link:hover,
:root[data-bs-theme="dark"] .navbar:hover .navbar-brand:hover {
  color: orange !important;
  transition: 0.4s ease-in;
}

/* variáveis CSS */
:root{
  --cor_primaria: #9AA6B2;
  --cor_secundaria: #F8FAFC;
  --cor_fundo: #BCCCDC;
}

body{
    margin:0;
    padding:0;
    color: #242424;
    font-family: sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    background-color: var(--cor_fundo);
  }
  
  h1,h2,h3,h4,h5,h6{
    font-weight: 900;
    color: #000;
  }
  
  .wrapper{
    width: 100%;
    margin: 0 auto;
  }
  
  main{
    display: block;
    background-color: #FFF;
  }
  
  .container{
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  section.module p{
    margin-bottom: 40px;
  }
  
  section.module:last-child{
    margin-bottom: 0;
  }
  
  section.module h2{
    margin-bottom: 40px;
    font-size: 30px;
  }
  
  section.module.content{
   padding: 40px 0;
   background: #ece7d5; 
  }
  
  section.module.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
  
  section.module.parallax:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: -moz-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
    background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
  }
  
  
  section.module.parallax-1{
    background-image: url("assets/logo.jpg");
  }
  
  section.module.parallax-2{
    background-image: url("https://th.bing.com/th/id/R.225a6fbbcbeb2356b2429187ee8cae90?rik=j8QKNozqeCu6FA&pid=ImgRaw&r=0")
  }
  
  section.module.parallax-3{
    background-image: url("https://wallpaperaccess.com/full/2289563.jpg");
  }
  
  section.module.parallax h1{
    color: #FFF;
    text-align: center;
    font-size: 78px;
    z-index: 50;
    text-transform: uppercase;
  }
  
  @media all and (max-width: 820px) {
    section.module h2 {
      font-size: 32px;
    }
    .module h2, p{
      padding: 0 8px;
    }
  
    .container{
      margin:0;
      padding:0;
    }
  
    section.module.parallax h1 {
      font-size: 36px;
    }
  }

/* animacao do carregamento */

 @keyframes animar {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

 .loading-spinner {
    border: 8px solid purple;
    border-right: 8px solid rgb(211, 36, 36);
    animation-name: animar;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: rgb(43, 41, 41);
    margin: auto;
    margin-top: 20%;
}

.conteudo {
    display: none;
}

/* imagems do carrossel*/
.imagemCarrossel{
    margin: auto;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: -30px;
    box-shadow: 0px 0px 0px 0.5px rgba(0, 0, 0, 0.2);
}

#carouselExampleIndicators{
    margin-top: -15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 0.5px rgba(0, 0, 0, 0.2);
    background-color: var(--cor_primaria);  
}

.logo{
    width: 5%;
    position: absolute;
    margin-top: -30px;
}
/* scroll reveal animação*/
.area-1{
    visibility: hidden;  
}

/* estilo da navbar */

.navbar-brand img {
  height: 40px;        
  width: auto;         
  margin-right: 10px; 
  border-radius: 5px;  
}

.navbar-brand {
  display: flex;
  align-items: center; 
  font-weight: bold;
  font-size: 1.2rem;
  
}



.navbar-brand:hover, .navbar-link:hover, .cabecalho a:hover {
  transition: 0.3s ease-out;
  text-decoration: underline;
  transform: scale(1.1);
  color: orange;
}
/* tabela estilo*/
table{
  padding: 15px;
  text-align: center;
  border-radius: 10%;
}

/* mostrar senha */
#olho{
  cursor: pointer;
  margin-left: 80%;
  margin-top: -32px; 
  position: absolute;
  width: 25px; 
  height: 25px;
  background-size: cover;
}



#olho.olho-fechado{
  background: url('<i class="bi bi-eye-slash"></i>');
  background-size: cover;
}


/* estilo da imagem 404 */



@keyframes mover {
  0%{
    transform: translateX(0px);
  }
  50%{
    transform: translateX(150px);
  }
  100%{
    transform: translateX(-150px);
  }
}

.paginaNaoExiste{
  max-width: 800px;
  animation: mover;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 1s
}


.imgLivro{
  width: 98%;
  height: 200px;
  border-radius: 8px;
  border: 5px double var(--cor_primaria);

}


.icones{
  margin-left: 5px;
}


.paragrafo{
  font-size: 1.1rem;
}


/* RODAPE */
footer{
  background-color: var(--cor_primaria);
  color: #fff;
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
  font-size: 0.9rem;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
  font-size: 0.9rem;
  margin-top: 30px;
  border-top: 2px solid var(--cor_secundaria);
}

footer a {
  color: #fff;
  text-decoration: none;
}
footer a:hover {
  background-color: #201f1f;
  transition: all 0.3s ease;
  padding: 0% 10px;
  border-radius: 5px;
}

@keyframes brilhar {
  0% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    transform: scale(1);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 1);
    transform: scale(1.1);
  }
  100% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    transform: scale(1);
  }
}

.circulo{
  width: 60px;
  height: 60px;
  animation: brilhar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  background-color: var(--cor_primaria);
}