{% extends 'base.html' %}

{% block title %}{{ titulo }}{% endblock %}

{% block content %}
<head>
  <meta charset="UTF-8">
  <title>Carrossel Ativo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<div class="col-md-12 text-center">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-warning" role="alert">
                {{ messages[0] }}
            </div>
        {% endif %}
    {% endwith %}
</div>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
<style>
  body {
    background-color:#BCCCDC;
    color: #212529 !important;           
  }
</style>
<h2 class="mb-2 mt-4 text-center area-1">{{ titulo }}</h2>

<div class="container d-flex flex-column gap-3 mt-4 text-center">

    {% if terror %}
    <h3>Terror <i class="fa-solid fa-ghost fa-bounce fa-sm icones"></i></h3>
    <div class="d-flex flex-wrap justify-content-center gap-3">
        {% for livro in terror %}
        <div style="width: 400px;" class="card mb-4">
            <img style="width: 90%; height: 50vh; border-radius: 8px; margin: auto; margin-top: 10px;"
                src="{{ livro.capa_terror }}" alt="Capa de {{ livro.titulo_terror }}">
            <div class="card-body text-center">
                <h5 class="card-title area-1">{{ livro.titulo_terror }}</h5>
                <p class="card-text">{{ livro.autor_terror }}</p>
                <form action="{{ url_for('favoritar_terror', id=livro.id_terror) }}" method="post">
                    <button onclick="desfavoritar(event)" class="btn btn-danger" type="submit">
                        <i class="bi bi-heart-fill"></i>
                    </button>
                </form>
                <!--Baixar livro-->
            </div>
              <a onclick="confirmarDownload(event)" href="{{ url_for('baixar_livro', titulo=livro.titulo_terror) }}" class="btn btn-primary">
                <i class="bi bi-download"></i>
                </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if fantasia %}
    <h4 class="area-1">Fantasia <i class="fa-solid fa-hat-wizard fa-sm fa-bounce" style="color: #8c0887;"></i></h4>
    <div class="d-flex flex-wrap justify-content-center gap-3">
        {% for livro in fantasia %}
        <div style="width: 400px;" class="card mb-4">
            <img style="width: 90%; height: 50vh; border-radius: 8px; margin: auto; margin-top: 10px;"
                src="{{ livro.capa_fantasia }}" alt="Capa de {{ livro.titulo_fantasia }}">
            <div class="card-body text-center">
                <h5 class="card-title area-1">{{ livro.titulo_fantasia }}</h5>
                <p class="card-text">{{ livro.autor_fantasia }}</p>
                <form action="{{ url_for('favoritar_fantasia', id=livro.id_fantasia) }}" method="post">
                    <button onclick="desfavoritar(event)" class="btn btn-danger" type="submit">
                        <i class="bi bi-heart-fill"></i>
                    </button>
                </form>
            </div>
              <a onclick="confirmarDownload(event)" href="{{ url_for('baixar_livro', titulo=livro.titulo_fantasia) }}" class="btn btn-primary">
                <i class="bi bi-download"></i>
                </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    
    {% if romance %}
    <h3 class="area-1">Romance <i class="fa-solid fa-heart fa-sm fa-bounce" style="color: #cd0a0a;"></i></h3>
    <div class="d-flex flex-wrap justify-content-center gap-3">
        {% for livro in romance %}
        <div style="width: 400px;" class="card mb-4">
            <img style="width: 90%; height: 50vh; border-radius: 8px; margin: auto; margin-top: 10px;"
                src="{{ livro.capa_romance }}" alt="Capa de {{ livro.titulo_romance }}">
            <div class="card-body text-center">
                <h5 class="card-title area-1">{{ livro.titulo_romance }}</h5>
                <p class="card-text">{{ livro.autor_romance }}</p>
                <form action="{{ url_for('favoritar_romance', id=livro.id_romance) }}" method="post">
                    <button onclick="desfavoritar(event)" class="btn btn-danger" type="submit">
                        <i class="bi bi-heart-fill"></i>
                    </button>
                </form>
            </div>
            <a onclick="confirmarDownload(event)" href="{{ url_for('baixar_livro', titulo=livro.titulo_romance) }}" class="btn btn-primary">
                <i class="bi bi-download"></i>
                </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}  

    {% if ficcao %}
    <h3 class="area-1">Ficção <i class="fa-solid fa-robot fa-sm fa-bounce" style="color: #6b6767;"></i></h3>
    <div class="d-flex flex-wrap justify-content-center gap-3">
        {% for livro in ficcao %}
        <div style="width: 400px;" class="card mb-4">
            <img style="width: 90%; height: 50vh; border-radius: 8px; margin: auto; margin-top: 10px;"
                src="{{ livro.capa_ficcao }}" alt="Capa de {{ livro.titulo_ficcao }}">
            <div class="card-body text-center">
                <h5 class="card-title area-1">{{ livro.titulo_ficcao }}</h5>
                <p class="card-text">{{ livro.autor_ficcao }}</p>
                <form action="{{ url_for('favoritar_ficcao', id=livro.id_ficcao) }}" method="post">
                    <button onclick="desfavoritar(event)" class="btn btn-danger" type="submit">
                        <i class="bi bi-heart-fill"></i>
                    </button>
                </form>
            </div>
            <a onclick="confirmarDownload(event)" href="{{ url_for('baixar_livro', titulo=livro.titulo_ficcao) }}" class="btn btn-primary">
                <i class="bi bi-download"></i>
                </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}     

    {% if not (terror or fantasia or romance or ficcao) %}
    <div class="alert alert-info" role="alert">
        Você ainda não favoritou nenhum livro.
    </div>
{% endif %}


</div>
{% endblock %}
